In [ ]:
1. values= * , 'hello' , -87.8 , 6
   expression= - , / , +

In [ ]:
2. String is a datatype and a variable is something which stores data, which can be changed.

In [ ]:
3. INT = INT is an integer datatype ex- 1,2,3,-1,0,-3 and so on.
   FLOAT= FLOAT is a datatype which consists of numbers with decimal, ex- 1.01, 3.98, 5.00 etc.
   Boolean= Boolean is datatype consists only of true and false value.

In [ ]:
4. An expression is used to represent a value
   It consists of identifiers, literals and operators

In [ ]:
5. A statement is a action or command that does something.
   An expression is used to represent a value. It consists of identifiers, literals and operators.

In [ ]:
6. After running the code bacon in increased by 1 to 23. Therefore bacon = 23

In [ ]:
7. 1)spamspamspam
   2)cannot concatenate a string and a numbers

In [ ]:
8. As a variable must start with letters or an underscore and not with numbers, 100 is invalid name for a variable

In [ ]:
9. int() , float(), str() can be used to get the version of a value.

In [ ]:
10. The statement causes an error as concatenation of a integer and a string is not possible.
    To overcome this we must convert the integer value into a string, ie 'I have eaten ' + str(99) + ' burritos.'